	{% extends 'usuarios/template_raiz.html' %}
    {%block barrita%}
                            
    <li><a href="/"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Inicio</span></div></a></li>
    <li><a href="{% url 'restaurante' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Restaurante</span></div></a></li>
    <li><a href="{% url 'habitaciones_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Habitaciones</span></div></a></li>
    <li><a href="{% url 'opiniones_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Opiniones</span></div></a></li>
    <li class="active"><a href="{% url 'contacto' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Contactanos</span></div></a></li>
    <li><a href="{% url 'reservas_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Reserva </span></div></a></li>
                                
    {%endblock%}

    {% block home %}
    {% endblock %}

    {%block body%}
                        

    <div class="contact" style="padding: 150px 20px 20px;">

		<div class="container">
			<div class="row">
				
				<div align="left">
					<div class="col-lg-4">
						<div class="contact_content">
							<div class="section_title_container">
								<div class="section_subtitle"><h4>Yimuda</h4></div>
								<div class="section_title"><h3>Hola,</h3></div>
							</div>
							<div class="contact_text">
								<p>Ante cualquier consulta, no dudes en contactarnos.</p>
							</div>
							<div class="contact_info">
								<ul>
									<li></li>
									<li>+54 911 1234 5678</li>
									<li>yimuda@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<font face="sans-serif" size="3">
					<div class="nav_item d-flex flex-column align-items-center justify-content-center" style="padding: 0px">
	                    <div class="container">  
	                        <form id="contact" action="" method="post">
	                        	{% csrf_token %}
	                        	<div align="right">
	                            	<div class="room" style="color:black;">      
		                                <div class="room_content text-left">                                     
		                                    <fieldset>
		                                    	<label>
		                                    		Nombre :
		                                    	</label>  
		                                    	<label class="form" style="padding: 10px 10px 10px" required>
		                                    		{{agregar_form.nombre}}
		                                    	</label>
		                                    </fieldset>
		                                    <fieldset>
			                                    <label>
			                                    	Apellido :
			                                    </label>  
			                                    <label class="form" style="padding: 10px 10px 10px"  required>
			                                    	{{agregar_form.apellido}}
			                                    </label>
		                                    </fieldset>
		                                    <fieldset>
			                                    <label>
			                                    	E-mail :
			                                    </label>  
			                                    <label class="form" style="padding: 10px 10px 10px"  required>
			                                    	{{agregar_form.email}}
			                                    </label>
		                                    </fieldset>
		                                    <fieldset>
			                                    <label>
			                                    	Mensaje:
			                                    </label>  
			                                    <br>
			                                    <label class="form" style="padding: 10px 10px 10px" required>
			                                    	{{agregar_form.descripcion}}
			                                    </label>
		                                    </fieldset>
		                                    
		                                    <fieldset>
	                                            <button class="button_container room_button" type="submit">
	                                                <div class="button text-center">
	                                                    <span>
	                                                        Enviar!
	                                                    </span>
	                                                </div>
	                                            </button>
                                        	</fieldset>
		                                </div>
		                            </div>
	                        	</div>
	                        </form>
	                    </div>
	                </div>
	            </font>

			</div>
		</div>
	</div>

    {% endblock %}