{% extends 'Concesionaria/base.html' %}



<body>
{% block title %}Agregar Opiniones{% endblock %}
    {% block header %}

        <div>
            </br>
            </br>

            <h1>Agregar Opiniones</a></h1>

        </div>

    {% endblock %}



    {% block content %}


    <form method="POST" action="">

    {% csrf_token %}
    {{agregar_form.as_p}}

    <button type="submit" value='Agregar Opiniones'>Guardar cambios</button>
    </form>

    {% endblock %}



    {% block footer %}


    {% endblock %}

</body>
