{% extends 'usuarios/template_raiz.html' %}
{%block barrita%}
<nav class="main_nav">
    <ul class="d-flex flex-row align-items-center justify-content-start">
        <li><a href="/"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Inicio</span></div></a></li>
        <li><a href="{% url 'restaurante' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Restaurante</span></div></a></li>
        <li><a href="{% url 'habitaciones_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Habitaciones</span></div></a></li>
        <li><a href="{% url 'opiniones_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Opiniones</span></div></a></li>
        <li><a href="{% url 'contacto' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Contactanos</span></div></a></li>
        <li><a href="{% url 'reservas_usuarios' %}"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Reserva </span></div></a></li>
    </ul>
</nav>
{%endblock%}



    {% block home %}
<div style="padding:100px;">
    <div class="col-lg-4 room_col ">
        <div class="room">                        
            <div class="room_content text-center ">

                <div>
                    <div class="nav_item d-flex flex-column align-items-center justify-content-center ">
                        <font face="sans-serif" size="20">Inicio de sesion</font>
                        <br>
                    </div>
                </div>
                    
                <div class="nav_item d-flex flex-column align-items-center justify-content-center ">
                    
                        <form action="login" method="POST" >
                        {% csrf_token %}
                            <font face="sans-serif" size="4">
                                <input type="text" name="username" placeholder="Nombre de usuario"><br>
                                <input type="password" name="password" placeholder="Contraseña"><br>
                                <br>
                                <br>
                                <fieldset>
                                    <button class="button_container room_button" type="submit">
                                        <div class="button text-center">
                                            <span>
                                                Enviar!
                                            </span>
                                        </div>
                                    </button>
                                </fieldset>
                            </font>
                        </form>
                    
                </div>
                <br>  
                <br>
                <br>
                {% for message in messages %}
                    <h4> {{message}} </h4>
                    {% endfor %}              
                
                
                    
                
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>                

    {% endblock %}

                


    {% block footer %}

    {% endblock %}
